

<h1>Phones</h1>


<div class="content">
    
    <h3>Add Phone</h3>
  
        <label>Phone:</label>            
        <input type="text" name="phone" value="" placeholder="" ng-model="phone" />
        
        <label>Active:</label>
        <input type="number" max="1" min="0" name="active" value="" ng-model="active" />
        
        <label>Phone Type:</label>
        <select name="phonetypeid" ng-model="phonetype" ng-options="phone.phonetype for phone in phoneTypes"></select>
        
        <input type="hidden"  name="phoneid" value="" />
        <input type="submit" value="Submit" ng-click="addPhone()" />
        

    <br />
    <br /> 

    
    <table class="gridtable">
        <thead>
            <tr>
                <th>ID</th>
                <th>Phone</th>
                <th>Phone Type</th>
                <th>Active</th>
                <th>logged</th>
                <th>last updated</th>
                <th></th>
                <th></th>
            </tr>
        </thead>    
        
        <tr ng-repeat="phone in phones">
            <td>{{phone.phoneid}}</td>                  
            <td>{{phone.phone}}</td>                  
            <td>{{phone.phonetype}}</td>  
            <td>{{phone.active | activeString}}</td>  
            <td>{{phone.logged}}</td>  
            <td>{{phone.lastupdated}}</td>  
            <td><button ng-click="showUpdate($index)">Update</button></td>
            <td><button ng-click="deletePhone(phone.phoneid)">Delete</button></td>
        </tr>
    </table>
    
     <div ng-show="update"> 
        <h3>Update Phone</h3> 
        
        <label>Phone:</label> 
        <input type="text" name="updatephone" value="" placeholder="" ng-model="updatephone" />
        
        <label>Phone Type:</label>
        <select name="updatephonetypeid" ng-model="updatephonetype" ng-options="phone.phonetype for phone in phoneTypes"></select>
        
        <label>Active:</label> 
        <input type="number" max="1" min="0" name="updateactive" value="" ng-model="updateactive" /> 
        
        <input type="hidden"  name="updatephoneid" value="" ng-model="updatephoneid" />
        
        <input type="submit" value="Submit" ng-click="updatePhone()" />
        <input type="submit" value="Cancel" ng-click="update=false" />
    </div>
    
    
</div>

<div class="content footer">
    <a href="#/phonetypes">Phone Types</a>
</div>