

<h1>Phone Types</h1>


<div class="content">
    
    <h3>Add Phone Type</h3>    
    <label>Phone Type:</label> 
    <input type="text" name="phonetype" value="" placeholder="" ng-model="phonetype" />
     <label>Active:</label> 
    <input type="number" max="1" min="0" name="Active" value="" ng-model="active" /> 
    
    <input type="submit" value="Submit" ng-click="addPhoneType()" />

 
    <br />
    <br /> 

    <table class="gridtable">
        <thead>
            <tr>
                <th>ID</th>
                <th>Phone Type</th>
                <th>Active</th>
                <th></th>
                <th></th>
            </tr>
        </thead>        
        <tr ng-repeat="phonetype in phoneTypes">
            <td>{{phonetype.phonetypeid}}</td>                  
            <td>{{phonetype.phonetype}}</td>                  
            <td>{{phonetype.active | activeString}}</td>  
            <td><button ng-click="showUpdate($index)">Update</button></td>
            <td><button ng-click="deletePhoneType(phonetype.phonetypeid)">Delete</button></td>
        </tr>
    </table>
    

  
    <div ng-show="update"> 
        <h3>Update Phone Type</h3> 
        <label>Phone Type:</label> 
        <input type="text" name="updatephonetype" value="" placeholder="" ng-model="updatephonetype" />
        <label>Active:</label> 
        <input type="number" max="1" min="0" name="updateactive" value="" ng-model="updateactive" /> 
        <input type="hidden"  name="updatephonetypeid" value="" ng-model="updatephonetypeid" />
        <input type="submit" value="Submit" ng-click="updatePhoneType()" />
        <input type="submit" value="Cancel" ng-click="update=false" />
    </div>
    
    
</div>

<div class="content footer">
    <a href="#/phones">Phones</a>
</div>